<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7065193028-62n2tq6lofbfgvtkemfcvtqebqh5pn10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7065193028-62n2tq6lofbfgvtkemfcvtqebqh5pn10</string>
	<key>API_KEY</key>
	<string>AIzaSyAOR3lAZ8FgMaBbItzHc1HV4l5a1eS4Sww</string>
	<key>GCM_SENDER_ID</key>
	<string>7065193028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>devbrunolopes.rickMorty</string>
	<key>PROJECT_ID</key>
	<string>rickmorty-ec4a5</string>
	<key>STORAGE_BUCKET</key>
	<string>rickmorty-ec4a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7065193028:ios:bb9641dcecb45146b78a11</string>
</dict>
</plist>